{% extends "core/layout.twig" %}
{% set title = "Изнанка MVC" %}
{% block body %}
<div class="hello">
    <p class="hello-message">Изнанка успешно установлена и&nbsp;готова к&nbsp;работе.<br> Для начала удалите <span class="hello-file">home.twig</span>,<br>и&nbsp;отредактируйте <span class="hello-file">layout.twig</span></p>
</div>
{% endblock %}